# This workflow will build docker image and push it to Docker Hub
# The prerequisite is to have a docker hub account and create an auth token
# Also create a secret for github repo (https://docs.github.com/en/actions/security-for-github-actions/security-guides/using-secrets-in-github-actions)
# The secrets should be named as follows DOCKERHUB_USERNAME and DOCKER_PASSWORD, where DOCKERHUB_USERNAME is the username of your docker hub account
# and DOCKER_PASSWORD is the auth token created in docker hub

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build and publish docker image

on:
  push:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Make Maven Wrapper executable
        if: contains(matrix.os, 'win') == false
        run: chmod +x ./mvnw

      - name: Build image
        run: ./mvnw spring-boot:build-image

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set VERSION environment variable
        run: |
          echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

      - name: Docker Tag-Push notes
        run: |
          docker tag notes:${{ env.VERSION }} ${{ secrets.DOCKERHUB_USERNAME }}/notes:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/notes:latest

